---
import './global.css';
---

<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Politieke Reclame Tracker</title>
    <meta name="description" content="Bekijk hoeveel geld er wordt uitgegeven aan politieke reclames in Nederland." />
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>
  <body>
    <slot />
  </body>
</html>
